/*---DESIGN SPECS
#ff00a6 */
/* Loading Page Styles */
#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #0d001f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.spinner {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #7b00ff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* General Styles */
body {
    margin: 0;
    color: #333;
    overflow-x: hidden;
    background-color: #150029;
}

    /*---- Text and Copy -----*/ 

    h1 {
        font-family: "Orbitron", sans-serif;
        font-size: 6rem;
        letter-spacing: 8px;
        font-weight: 900;
        margin: 30px auto 15px auto;
        line-height: 100%;
        color: #fff;
        text-align: center;
        animation: glow 10s infinite alternate;
    }
    
    h2 {
        font-family: "Orbitron", sans-serif;
        font-size: 3.5rem;
        color:  #cac0ff;
        text-align: left;
    }

    h3 {
        font-family: "Orbitron", sans-serif;
        font-size: 3.5rem;
        color: #cac0ff;
        text-align: center; 
        margin: 0 auto 40px auto;
    }

    p {
        font-family: "Lato", sans-serif;
        color: #1e1e1e;
    }

    .p-about {
        font-size: 1.4rem;
        line-height: 2.3rem;
        text-align: left;
        width: 100%;
        letter-spacing: 1px;
        text-align: left;
        color: #eae6fc;
        font-weight: 300;
    }
    
    .hero-copy {
        font-family: "Lato", sans-serif;
        font-weight:600;
        font-size: 1.8rem;
        color: #fbf2ff;
        margin: 40px auto 50px auto;
        line-height: 140%;
        text-transform: uppercase;
        letter-spacing: 2px;
        
    }

    .hero-btn  {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        margin: 0 auto;
        font-weight: bold;
        z-index: 2000;
        border-radius: 5px;
        padding: 15px 40px;
        background-color: #fff;
        border:2px solid #fff;
        color: #32004b;
        text-decoration: none;
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
        scroll-behavior: smooth; 
        width: 180px;
        cursor: pointer;
    }

    .hero-btn:hover {
        background-color: #32004b;
        border: 2px solid #FF01FB;
        color:#fff;
        font-weight: bold;
        cursor:pointer;
    }
    
    .accent {
        font-family: "Righteous", sans-serif;
    }

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}


#section1 {
    background-image: url('images/background-gradient-2.png');
    background-size: cover;
    animation: gradientAnimation 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/*------ANIMATIONS AND EFFECTS ----------*/
@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #ff00ff, 0 0 60px #ff00ff;
    }
    50% {
        text-shadow: 0 0 5px #4800ff, 0 0 10px #4800ff, 0 0 20px #4800ff, 0 0 40px #4800ff, 0 0 60px #4800ff;
    }
    100% {
        text-shadow: 0 0 5px #4800ff, 0 0 10px #4800ff, 0 0 20px #4800ff, 0 0 40px #4800ff, 0 0 60px #4800ff;
    }
}

.space-arrow-down {
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-top-color: #d000ff; /* Start color of the gradient */
    position: relative;
    margin: 0 auto;
    top: 80px;
}
.space-arrow-down::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-top-color: #b374e1; /* End color of the gradient */
    filter: blur(4px); /* Glow effect */
    opacity: 0.6;
}
.space-arrow-down::after {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #bf13d9; /* Main color */
    filter: drop-shadow(0 0 8px #bf00ff); /* Glow effect */
}

/* Navbar Styles */
.navbar {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
    
    z-index: 1000;
    box-sizing: border-box;
}

.logo {
    font-family: "Orbitron", sans-serif;
    color: #EFECFF;
    font-size: 34px;
    font-weight: 800;
}

.nav-links {
    font-family: 'Lato', sans-serif;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #d7d0fd;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #5a3efb;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: all 0.3s;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    border:2px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.btn:hover  {
    background-color: #ffffff;
    color:#32004b;
    font-weight: bold;
    cursor:pointer;
}

/* Parallax Sections */
.parallax {
    height: 100vh;
}

#section1 {
    background-color: #150029;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*------- SECTION 3 SERVICES ------- */

#section3 {
    background-color: #150029;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    height: fit-content;
    padding-top: 80px;
}


.parallax .content {
    width: 100%;
    padding: 0px 20px 50px 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.services {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.item {
    width: 300px;
    height: 300px;
    margin: 0 20px;
    border-radius: 10px;
    background-image: url('images/background-gradient.png'); 
    background-size: cover;
    background-size: 390%;
    background-position: 90%;
    box-sizing: border-box;
    padding: 15px 30px;
}

h4 {
    font-family: "Orbitron", sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #2A1F64;
    text-align: center;

}

.item p {
    font-family: "Lato", sans-serif;
    font-size: 1.15rem;
    text-align: center;
    text-justify:inter-word;
    color: #170023;
    position: relative;
    line-height: 1.9rem;
    
}



/* Non-parallax Sections */
section {
    padding: 60px 20px;
}

#section2, #section4, #section5 {
    background: #150029;
    color: #1e1e1e;
    text-align: center;
    padding: 0;
    height: fit-content;
    padding-top: 80px;
}

.row-l {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    padding: 50px 100px;
    width: 88%;
    box-sizing: border-box;
    margin: 0 auto;
    height: fit-content;
    align-items: center;
}

.container-c {
    max-width: 800px;
    margin: 0 auto;
}

.container-l {
    width: 50%;
    margin: 0 auto 0 100px;
    box-sizing: border-box;
    padding: 20px 30px 50px 30px;
    box-sizing: border-box;
}

.container-r{
    position: relative;
    width: 40%;
    margin: 0 auto;
    height: fit-content;
}

.img-about {
    max-width: 280px;
    margin: 30px auto;
    bottom: 0;
    position: relative;
    
}

/*--------- FEATURES -----------*/

.features {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    margin: 70px auto 50px auto;
    box-sizing: border-box;
}

.feature-item {
    width: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.vertical-line {
    width: 1px;
    border-width: 0 1px 0 0;
    border-left:solid transparent 0px;
    border-right:solid #cac0ff 1px;
    border-top:solid transparent 0px;
    border-bottom:solid transparent 0px;
}

.feature-item span {
    position: relative;
    display: block;
    font-family: "Orbitron", sans-serif; 
    font-size: 2.3rem;
    font-weight: bold;
    color: #cac0ff;
    letter-spacing: 3px;
}

.feature-item p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px; 
    font-size: 1.4rem;
    line-height: 34px;
    color: #cac0ff;
    font-weight: 300;
    text-align: center;
    margin: 20px 0 0 0;

}

/* -------- WORK --------------*/ 

.work-img {
    max-width: 100%;
    width: 600px;
    margin: 0;
}

.work-item {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    flex-flow: row nowrap;
    margin: 40px 0;
    align-items: flex-start;
}

.reverse {
    flex-direction: row-reverse !important;
}

.item-copy {
    width: 30%;
    text-align: left; 
    padding: 20px 25px;
    box-sizing: border-box;
    color: #eae6fc;
    margin: 0 30px;
    box-sizing: border-box;
}


.accent {
    font-family: 'Righteous', serif;
    margin: 0; 
}

h5 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.3rem;
    color: #eae6fc;
    margin: 10px auto 25px auto;
}

.item-copy p {
    font-family: 'Lato', sans-serif;
    font-size: 16px; 
    color: #eae6fc;
    line-height: 28px; 
    margin-bottom: 35px;
}





/* -------- CONTACT FORM -------- */
form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    padding: 0 0 80px 0;
}

label {
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    color: #e5d2ff;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #260645;
    color: #fff;
}

footer p {
    color: #e8cfff;
}

/*------------ MEDIA BREAKING POINTS --------------*/

@media screen and (max-width: 1080px) {
    .features {
        flex-flow: column nowrap;
        margin: 0 auto;
        width: 100%;
    }

    .feature-item {
        margin: 25px auto;
    }

    .vertical-line {
        width: 70%;
        height: 1px; 
        border-left:solid transparent 0px;
        border-right:solid transparent 0px;
        border-top:solid white 1px;
        border-bottom:solid transparent 0px;
        margin: 40px auto;
    }
}
/* Medium devices such as tablets (768px and up) */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .parallax {
        background-attachment: scroll;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 60px; /* Adjust this value if the navbar height changes */
        left: 0;
        font-family: 'Lato', sans-serif;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }

    .nav-links li a {
        width: 100%;
        display: block;
    }

    .parallax .content {
        padding: 0;
    }

    h1 {
        font-size: 3.5rem;
    }

    .hero-copy {
        font-size: 1.1rem;
    }

    .hero-btn {
        font-size: 14px;
    }

    .row-l {
        flex-direction: column;
        width: 100%;
    }
    .container-l {
        width: 95%;
        margin: 0 auto; 
    }
    .container-r {
        width: 100vw;
    }
    .container-l h2, .p-about {
        text-align: center;
        padding:0;
        margin: 30px auto;
    }

    .services {
        flex-wrap: wrap;
    }

    .item {
        margin: 15px auto;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    .work-item, .reverse {
        flex-direction: column !important;
    }
    .item-copy {
        width: 50%;
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }
    .space-arrow-down {
        top: 100px;
    }

    form {
        width: 88%;
    }
} 
